{% extends 'base.html.twig' %}


{% block content %}
<section class="container my-3">
    <div class="row">
        <div class="card col-8">
            <img src="..." class="card-img-top" alt="{{ picture.filename }}">
            <div class="card-body">
                <p class="card-text">{{ picture.description }}</p>
                <a class="btn btn-warning" href="{{ path('picture_update', {id: picture.id}) }}">
                    <img src="{{ asset('pencil.svg') }}" alt="Modifier">
                </a>
                <a class="btn btn-danger" href="{{ path('picture_delete', {id: picture.id}) }}">
                    <img src="{{ asset('bin.svg') }}" alt="Supprimer">
                </a>
            </div>
        </div>
        <div class="col-4">
            <ul>
                {% for tag in picture.tags %}
                <li>{{ tag.person.fullname }} 
                    <a class="btn btn-danger text-white" href="{{ path('tag_delete', {id: tag.id}) }}">
                        <img src="{{ asset('bin.svg') }}" alt="Supprimer">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {{ form(tagForm) }}
        </div>
    </div>
</section>

    {% block page_contents %}{% endblock %}
{% endblock %}