{% extends 'base.html.twig' %}


{% block content %}
<section class="container my-3">
    <h1>Toutes les images</h1>

    <a class="btn btn-warning" href="{{ path('picture_new') }}">
        <img src="{{ asset('plus.svg') }}" alt="Ajouter">
    </a>
    <div id="all-pictures">
        {% for picture in pictures %}
            <div class="card">
                <a href="{{ path('picture_details', {id: picture.id}) }}">
                    <img src="{{ path('picture_view', {id: picture.id}) }}" class="card-img-top" alt="{{ picture.filename }}" width="250" height="250">
                </a>
            </div>
        {% endfor %}
    </div>
</section>

    {% block page_contents %}{% endblock %}
{% endblock %}