{% extends 'base.html.twig' %}


{% block content %}
<section class="container my-3">

    <h1>{{ person.firstname }} {{ person.lastname|upper }}</h1>
    <a class="btn btn-warning" href="{{ path('person_update', {id: person.id}) }}">
        <img src="{{ asset('pencil.svg') }}" alt="Modifier">
    </a>
    <a class="btn btn-danger" href="{{ path('person_delete', {id: person.id}) }}">
        <img src="{{ asset('bin.svg') }}" alt="Supprimer">
    </a>

</section>

    {% block page_contents %}{% endblock %}
{% endblock %}