{% extends 'base.html.twig' %}


{% block content %}
<section class="container my-3">
    <h1>Toutes les personnes</h1>

    <a class="btn btn-warning" href="{{ path('person_new') }}">
        <img src="{{ asset('plus.svg') }}" alt="Ajouter">
    </a>
    <div id="all-persons">
        <ul>
            {% for person in persons %}
                <li>
                    <a href="{{ path('person_details', {id: person.id}) }}">
                        {{ person.firstname }} {{ person.lastname|upper }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

    {% block page_contents %}{% endblock %}
{% endblock %}